/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    outline:none;
    border:none;
}

/* GENERAL STYLES */

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.container {
    max-width:1200px;
    margin: 0 auto;
}

.btn {
    padding: 10px 35px;
    border-radius:22px;
    filter: drop-shadow(0px 7px 18px rgb(0, 0, 0, 0.16));
    color: #fff;
    font-weight:bold;
    background-color:transparent;
    font-size:16px;
}

.btn:hover {
    cursor:pointer;
}

.btn.btn-icon {
    display: flex;
    gap:8.5px;
    justify-content: center;
    align-items: center;
}

.link-green {
    color: #2FCC37;
    font-size:16px;
    font-weight: bold;
    text-align: center;
}

.link-orange {
    color: #FF681C;
    font-size:16px;
    font-weight: bold;
    text-align: center;
}
.link-red {
    color: #EC1951;
    font-size:18px;
    font-weight: bold;
    text-align: center;
}

ul {
    list-style: none;
    display: flex;
    gap:28px;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    font-size:16px;
}

a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -5px;
    left: 50%;
    background-color: #EC1951;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a.link-red:hover::before {
    visibility: hidden;
}

a.link-green::before{
    background-color: #2FCC37;
}
a:hover::before {
    visibility: visible;
    width: 100%;
    left: 0;
}

/* HERO SECTION */
.hero-background {
    position:absolute;
    top:0;
    width:100%;
    height: 1100px;
    background: 
    url('/public/hero_background.png') no-repeat center center,
    linear-gradient(310deg, rgba(121,34,172,1) 0%, rgba(45,19,130,1) 100%);
    object-fit:cover;
    background-position: bottom;
    z-index:-100;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 54px;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    gap:28px;
}

.btn-account, .btn-signup {
    background-color: #EC1951;
}

.left_arrow:hover, 
.right_arrow:hover {
    cursor: pointer;
}

.hero_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 170px;
    z-index: 100;
}

.left_arrow {
    position: absolute;
    left: 90px;
}

.right_arrow {
    position:absolute;
    right:90px;
}

.hero_statistics.container {
    width: 1200px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.hero_statistics_item {
    display:flex;
    align-items: center;
    color:#FFCC00;
    gap:6px;
    font-size:20;
    font-weight:bold;
}

.hero_statistics h1 {
    font-size:60px;
    font-weight:bold;
    color:#fff;
    max-width: 600px;
    margin-left: 30px;
    margin-top:33px;
    margin-bottom:26px;
}

.hero_statistics p {
    color:#FFCC00;
    max-width: 447px;
    line-height: 30px;
    font-size:20px;
    margin-bottom:55px;
    
}

.hero-cta {
    max-width: 447px;
    display: flex;
    justify-content: left;
    gap:20px;
    align-items: center;
    color:#fff;
    font-weight: bold;
}

.statistics_cards {
    display:flex;
    gap:20px;
    margin-top:100px;
}

.statistics_card {
    z-index:100;
    max-width:270px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border:none;
    border-radius:50px;
    padding: 40px;
    filter: drop-shadow(0px 3px 39px rgba(88, 102, 168,0.25));
}

.statistics_card img {
    display: inline-block;
    height: 100%;
    margin-bottom: 19px;
}

.statistics_card h3 {
    font-size: 45px;
    font-weight:600;
    color:#1A2953;
    position:relative;
}

.statistics_card h3 span {
    position: absolute;
    top:-5px;
    right:-40px;
    color:red;
    font-size:2rem;
}

.statistics_card p {
    font-size:18px;
    font-weight: normal;
    color:#1A2953;
    margin-block: 13px 15px;
    text-align: center;
}

.background {
    position:absolute;
    width: 100%;
    top:815px;
    height: 1400px;
    background: rgb(226,224,235);
    background: linear-gradient(310deg, rgba(226,224,235,1) 0%, rgba(255,255,255,1) 100%);    
    clip-path: polygon(0 0, 120% 19%, 100% 90%, 0 100%);
    z-index: -10;
}

.about {

    padding-top:200px;
}

.about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .container h2 {
    text-align: center;
    font-size:45;
    font-weight: normal;
    color:#1A2953;
    letter-spacing: -15;
    line-height: 70px;
    position: relative;
}

.about .container h2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -3px;
    transform: translateX(-50%);
    width: 73px;
    height: 2px;
    background: #EC1951;
}

.about .container p {
    display: block;
    font-size:18px;
    text-align: center;
    color:#1A2953;
    max-width: 750px;
    margin-top:33.5px;
    line-height: 28px;
    letter-spacing: 0;
}

.about .container p span {
    font-weight:bold;
}

.about_cards {
    display: flex;
    gap:39px;
    align-items: center;
    margin-top: 65px;

}

.about_card {
    max-width: 374px;
    display:flex;
    flex-direction: column;
    justify-content:center;
}

.about_card img {
    width:100%;

}
.about_card h3 {
    font-size: 32px;
    font-weight: normal;
    color: #1A2953;
    letter-spacing: -15;
    line-height: 70px;
    text-align: center;
}

.about_card p {
    font-size:18px;
    color:#1A2953;
    text-align: center;
    margin-bottom:5px;
    line-height: 28px;
}

/* CTA  */

.cta {
    margin-top: 129px;
    margin-bottom: 300px;
}

/* HORIZONTAL CARD */
.cta  .horizontal_card .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    background-color: #fff;
    position:relative;
    border-radius:50px;
    filter:drop-shadow(0px 13px 39px rgba(99,102,168,0.25));
    padding: 1rem;
}

.horizontal_card .container .call-icon {
    position: absolute;
    top:-46px;
}

.horizontal_card  .container p {
    color:#1A2953;
    max-width: 694px;
    text-align: center;

}
.horizontal_card  .container .info {
    font-size: 18px;
    display: inline-block;
    font-weight: normal;
    line-height: 28px;
    text-align: center;
    margin-top: 35px;
}

.horizontal_card  .container .number {
    font-size:32px;
    font-weight: normal;
    line-height: 70px;
    letter-spacing: -15;
    margin-top:28px;
}

.cta_cards .container {
    display: flex;
    margin-top:64px;
    justify-content: space-between;
}
.cta_card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta_card p {
    font-size: 18px;
    font-weight: normal;
    color:#1A2953;
    margin-block: 41px 7px;
    text-align: center;
    line-height:28px;


}

.btn-cta {
    background-color: #000000 ;
    align-items: center;
}

.btn-cta div {
    display: flex;
    flex-direction: column;
    gap:3px;
    text-align: left;
}

.btn-cta div span:first-child {
    color:#FEFEFE;
    text-transform: uppercase;
    font-size:11px;
    font-weight: normal;
    line-height: 15px;
}

.btn-cta div span:last-child {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500
}